* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}




.container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
   
}

.menu {
    width: 600px;
    display: flex;
    flex-wrap: wrap;   
    
 
}

div div div {
    justify-content: center;
    display: flex;
    align-items: center; 
    width: 200px;
    height: 200px;
    background-color: orange;
    border: 1px solid red;
    font-size: 120px;
    color: black;

    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

   
}